<ion-header>
    <ion-card-header>
    <ion-img src="/assets/imagen7.jpg"></ion-img>
    </ion-card-header>
    <ion-card-header>
       <p>Na UniAteneu São mais de 30 cursos para quem busca a entrada ou recolocação no mercado de trabalho. Escolha abaixo um curso e conheça nossa grade. </p>
    <ion-list>
 
      <ion-item>Administração</ion-item>
      <ion-item>Análise e Desenvolvimento de Sistema</ion-item>
      <ion-item>Direito</ion-item>
      <ion-item>Comércio Exterior</ion-item>
      <ion-item>Enfermagem</ion-item>
      <ion-item>Gestão Portuária</ion-item>
      <ion-item>Redes de Computadores</ion-item>
      <ion-item>Recursos Humanos</ion-item>
      
    </ion-list>
  </ion-card-header>
</ion-header>

<ion-content>

</ion-content>
