<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagina1">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Pagina1</ion-label>
    </ion-tab-button>

    

    <ion-tab-button tab="pagina2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>Pagina2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagina3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Pagina3</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="pagina4">
      <ion-icon name="bookmarks"></ion-icon>
      <ion-label>Cursos</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
