<ion-header>
  <ion-toolbar>
    <ion-title>
      Meu App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/imagen6.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Uniateneu</ion-card-subtitle>
        <ion-card-title>Equipe 3</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Curso de Analise e Desenvolvimento de Sistema.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Recursos</ion-label>
      </ion-list-header>
      <ion-item href="http://portalateneu.fate.edu.br/">
        <ion-icon slot="start" color="medium" name="person"></ion-icon>
        <ion-label>Portal do Aluno</ion-label>
      </ion-item>
      <ion-item href="https://faculdadeateneu.mrooms.net/">
        <ion-icon slot="start" color="medium" name="at"></ion-icon>
        <ion-label>Acesso ao EAD</ion-label>
      </ion-item>
      <ion-item href="http://bibliotecavirtual.fate.edu.br:8086/bb-virtual/?sessionid=61212d033d7f9bc066c9eedb8bda923c">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Biblioteca Virtual</ion-label>
      </ion-item>
      <ion-item href="http://portalprofessor.fate.edu.br/#/login">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Portal do Professor</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
